@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

.root {
    -fx-background-color: rgb(21, 48, 83);
}

.label {
    -fx-font-family: 'Press Start 2P', sans-serif;
    -fx-font-size: 10px;
    -fx-text-fill: white;
}

.button {
    -fx-font-family: 'Press Start 2P', sans-serif;
    -fx-font-size: 12px;
    -fx-background-color: #ffcc00;
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-border-width: 3px;
}

.button:hover {
    -fx-background-color: #ff6600; 
}

.text-field {
    -fx-font-family: 'Press Start 2P', sans-serif;
    -fx-font-size: 10px;
    -fx-text-fill: black;
    -fx-border-color: rgb(2, 0, 0);
    -fx-border-width: 3px;
}