@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

.root {
    -fx-background-color: rgb(54, 54, 54);
}

.label {
    -fx-font-family: 'Press Start 2P', monospace;
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian, #00ccff, 3, 0.5, 0, 1);
    -fx-alignment: center-left;
    
}

.label-register {
    -fx-font-family: 'Press Start 2P', monospace;
    -fx-font-size: 20px;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian, #00ccff, 3, 0.5, 0, 1);
}

.button {
    -fx-background-color: linear-gradient(to bottom, #00ccff, #1DB954);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: 'Press Start 2P', monospace;
    -fx-padding: 14 32 14 32;
    -fx-background-radius: 15;
    -fx-border-color: #00ccff;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(gaussian, #00ccff, 8, 0.7, 0, 2);
    -fx-cursor: hand;
    -fx-transition: all 0.2s;
}

.button:hover {
     -fx-background-color: #232526;
    -fx-text-fill: #00ccff;
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}

.text-field {
    -fx-background-color: #181818;
    -fx-text-fill: #48ff00;
    -fx-font-family: 'Press Start 2P', monospace;
    -fx-border-color: #00ccff;
    -fx-border-width: 2px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10 14 10 14;
    -fx-alignment: center-right;
}

.text-field:focused {
    -fx-border-color: #fffb00;
    -fx-effect: dropshadow(gaussian, #d2e008, 8, 0.7, 0, 2);
     
}

.date-picker {
    -fx-text-fill: #000000;
    -fx-font-family: 'Press Start 2P', monospace;
    -fx-font-size: 14px;
}

.date-picker:focused {
    -fx-border-color: #fffb00;
    -fx-effect: dropshadow(gaussian, #d2e008, 8, 0.7, 0, 2);
}


